- var MENU = LANG.menu;
mixin menu-mob(page)
	.menu-mobile#js-mobile-menu
		.menu-mobile__wrap
			ul.menu-mobile__nav.nav.navbar-nav
				li.nav-item
					a.nav-link(href='#')!= MENU.service
				li.nav-item
					a.nav-link(href='#')!= MENU.horoscope
				li.nav-item
					a.nav-link(href='#')!= MENU.blog
				li.nav-item.dropdown
					a.dropdown-item(href=url(LANG.locale ==='ru'?'en':'', `/${page}.html`)) #{LANG.locale==='ru'?'English':'Русский'}
			.menu-mobile__bottom
				a.menu-mobile__btn.btn.btn-outline-primary.js-scroll(href="#")!= LANG.btn_primary
